// * {
//   margin: 0;
//   padding: 0;
// }

@import "./_var.scss";

@mixin commonProperties($displayType) {
  display: flex;
}

.mediaQuery{
  background-color: yellow;
  height: 400px;
}
@media  screen and (max-width: 480px) {
  .mediaQuery{
    background-color: red;;
  }
}

.gridContainer {
  display: grid;
  grid-template-rows: 50px 1fr 50px; // define rows- how many rows with particular size
  grid-template-columns: 1fr 1fr 1fr 1fr; // define colums- how many colums
  background-color: green;
  row-gap: 10px; // define gap b/w rows
  column-gap: 12px; //define gap b/w columns
  min-height: 800px;
  padding: 10px;
  justify-content: right;
  .gridItems {
    background-color: yellow;
    border: 2px solid red;    
   // min-height: 50px;
    color:$color;
  }
  .header{
    grid-column-start: 1; // define start from 1 column and end with 3 column
    grid-column-end: 5;
    .flex-container{
      @include commonProperties("flex");
      height: 50px;
      margin-left: 1rem;
      align-items: center;
      .item1{
        flex-grow: 1;
        align-self: left;
      }
      .item2{
        white-space: nowrap;
        padding: 10px + 10px;
      }
      .item3{
        margin-right: 50px;
      }
    }


}

.picItem{
   @include commonProperties("flex");
   margin:10px;
   height: 20px;
   align-items: center;
   padding: 10px;
   background-color: white;
   .phoneCall{
     flex-grow: 1;
   }
   
}
.footer{
    grid-column-start: 1; // define start from 1 column and end with 3 column
    grid-column-end: 5;

}

}
